/*Cores e formatação padrão*/
*{
    background-color:rgb(52, 142, 172) ;
    color: rgb(240, 245, 196);
    padding: 5px;
}
/*Classe para centralizar texto*/
.center{
    text-align: center;
}
/*Para usar na Lista de links*/
.lista{
    background-color: rgb(38, 94, 112);
    width: 300px;
    padding: 10;
    margin: 0;
    box-sizing: border-box;
    border: solid 0px;
}
.cor1{
    background-color: rgb(38, 94, 112);
}